/components/__pycache__/config.cpython-37.pyc
/components/__pycache__/config.cpython-39.pyc
/components/__pycache__/indexed_list.cpython-39.pyc
/components/__pycache__/parser.cpython-39.pyc
/components/__pycache__/util.cpython-39.pyc
/formats/__pycache__/format.cpython-39.pyc
/formats/__pycache__/messages.cpython-39.pyc
/formats/__pycache__/structure.cpython-39.pyc
/formats/__pycache__/style.cpython-39.pyc
/parsers/cdpp/__pycache__/log.cpython-39.pyc
/parsers/cdpp/__pycache__/ma.cpython-39.pyc
/parsers/cdpp/__pycache__/pal.cpython-39.pyc
/parsers/cdpp/__pycache__/val.cpython-39.pyc
/parsers/lopez/__pycache__/log.cpython-39.pyc
/.idea/.gitignore
/.idea/arslab-converter.iml
/.idea/inspectionProfiles/Project_Default.xml
/.idea/inspectionProfiles/profiles_settings.xml
/.idea/misc.xml
/.idea/modules.xml
/.idea/vcs.xml
